@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, to Calcpad Template Server</h1>

Welcome to this early state server.

<h4>How it works.</h4>



<!--<SurveyPrompt Title="How is Blazor working for you?" />-->



